.Headar
  = render partial: "shared/header"

.Container
  .Main
    .Main__target
      .Main__target__week 
        .Main__target__week__word 一週間の目標
        .Main__target__week__image
          = icon("fas", "graduation-cap")
      .Main__target__display 毎日学習する。
      =link_to '目標設定をする！', '#', class: "Main__target__btn"

    .Main__calendar
      =link_to '学習カレンダーへ', user_posts_path(current_user), class: "Main__calendar__btn"
      .Main__calendar__image
        =icon("far", "calendar-check")
      
    .Main__week-time
      .Main__week-time__title
        .Main__week-time__title__word 今週の学習時間
        .Main__week-time__title__image
          = icon("far", "clock")
      .Main__week-time__display 4:00
      
  .Follower 
    .Follower__list
      .Follower__list__name user1
      .Follower__list__subject 国語
      .Follower__list__time 4:00
      = link_to '', '#', class: "Follower__list__btn"
    .Follower__list
      .Follower__list__name user2
      .Follower__list__subject 数学
      .Follower__list__time 4:00
      = link_to '', '#', class: "Follower__list__btn"